creds/
credentials/
train_dir
*/train_dir/

*.safetensors
*.pkl
*.pth
*.pt
*.ckpt
*.ckpt-*
*.ckpt_*
*.ckpt.*
*.bin
*.tar
*/runs/
*/runs_*
*/runs/*
*tfevents*
*vocab.txt
*config.json
*tokenizer.json
*tokens_map*
*trainer_state*
*spiece.model*